/* -----------------------------------------DEFAULT STYLES-------------------------------------------*/
*{
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	position: relative;
	min-height: 100vh;
}
ol, ul, li {
	margin: 0;
	padding: 0;
}
a:link, a:focus, a:hover {
	color: #000;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
hr {
	border: none;
	height: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rgba(0,0,0,0.3)
}


nav {
	/* background-color: red; */
	width: 100%;
	font-family: ubuntu;
}
/* -----------------------------------------TOP NAV-------------------------------------------*/

#top-nav {
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
}
#top-nav-wrap {
	line-height: 80px;
	min-height: 80px;
	vertical-align: middle;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;
}
#top-nav-title {
	display: inline-block;
	/* background-color: green; */
}
#top-nav-title a {
	/* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	/* font-family: 'Kanit', sans-serif; */
	color: white;
	font-weight: 500;
	/* font-style: italic; */
	/* text-decoration: none; */
	font-size: 30px;
	/* -webkit-text-stroke: 1px rgba(0,0,0,1); */
}

/* -----------------------------------------BOT NAV-------------------------------------------*/
#bot-nav { /* bot nav normal position */
	width: 100%;
	background-color: rgba(143, 142, 142, 0.15);
	/* background-color: orange; */
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
	z-index: 2;
}
#bot-nav.fixed { /* bot nav scrolled down */
	position: fixed;
	top: 0;
	font-size: 13px;
	background-color: rgba(0, 0, 0, 0.25);
}
#bot-nav-wrap {
	/* background-color: purple; */
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

#bot-nav-div-list {
	/* background-color: hotpink; */
	width: 100%;
}

#bot-nav-div-list li {
	display: inline-block;
	vertical-align: middle;
}

/* -- bot nav title -- */
#bot-nav-title {
	margin: 0;
	padding: 0;
	/* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Kanit', sans-serif; */
	font-weight: 500;
	/* font-style: italic; */
	display: inline-block;
	/* -webkit-text-stroke: 1px rgba(255,255,255,1); */
	transition: 0.5s ease-in-out;
	width: 0;
	overflow: hidden;
	font-size: 25px;
	/* height: 60px; */
	/* line-height: 60px; */
	vertical-align: middle;
	/* background-color: blue; */
	
}
#bot-nav-title a {
	text-decoration: none;
	transition: 0.5s;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.03);
}
#bot-nav-title div {
	width: 200px;
	padding: 0;
}

/* -- bot nav menu -- */
#menu {
	vertical-align: middle;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
	display: none;
	height: 50px;
	margin-left: -3px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
#menu.fixed {
	font-size: 15px;
}
#menu:hover {
	color: #000;
}
#menu .material-icons {
	vertical-align: middle;
	line-height: 50px;
	margin-right: 5px;
	margin-bottom: 4px;
}

/* -- social nav menu -- */
#social {
	display: none;
	height: 50px;
	background-color: navajowhite;
	font-weight: 500;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
	float: right;
}
#social .material-icons {
	vertical-align: middle;
	line-height: 50px;
	margin-right: 5px;
	margin-bottom: 4px;
}

/* -- bot nav divs -- */
#bot-nav-div-list {
	/* background-color: blueviolet; */
}
.qwerty {
	display: inline-block;
}
#bot-nav-left {
    position:relative;
	display: inline-block;
	margin-left: -3px;
}
.qwerty-right {
	display: inline-block;
	float: right;
}
#bot-nav-right {
	display: inline-block;
	height: 50px;
	/* background-color: aquamarine; */
}


/* -- bot nav left child -- */
#bot-nav-left li {
	position: relative;
	display: inline-block;
	padding: 0;
}
#bot-nav-left li:not(:first-child) {
	margin-left: -2px;
}
#bot-nav-left li a {
    display:block;
	line-height: 50px;
	padding: 0 15px;
}
#bot-nav-left li a .material-icons {
	/* background-color: greenyellow; */
	vertical-align: middle;
	margin-right: 8px;
	margin-bottom: 4px;
}
#bot-nav-left li a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
#bot-nav-left li:not(:last-child) a::after{
	position: absolute;
	background-color: rgba(255, 255, 255, 0.9);
	top: calc((50px - 15px)/2 ); /* (50px - (height))/2 = 15px */
	height: 15px;
	content: "";
	margin-left: 15px;
	border-right:1px solid black;
	transition: 0.5s;
}

/* -- bot nav right child -- */
#bot-nav-right li {
	/* background-color: red; */
}
#bot-nav-right li:not(:last-child) {
	margin-right: 7px;
}
#bot-nav-right li a .fa {
	vertical-align: middle;
	line-height: 50px;
	font-size: 30px;
	vertical-align: middle;
}

.content {
	margin-top: 30px;
}
.content-wrapper {
	max-width: 1200px;
	padding: 0 20px;
	width: calc(100% - 40px);
	margin: 0 auto;
}
.content-flask {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	/* -webkit-backdrop-filter: blur(50px); */
	/* backdrop-filter: blur(50px); */
	/* background-color: rgba(255, 255, 255, 0.6); */
	margin-bottom: 50px;
	border-radius: 10px;
}


.footer {
	background-color: rgba(255, 255, 255, 0.05);
	-webkit-backdrop-filter: blur(50px);
	backdrop-filter: blur(50px);
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer-wrapper {
	width: 100%;
	font-size: 13px;
	color: #fff;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 25px;
}

@media only screen and (max-width:1200px) {
	#menu {
		display: inline-block;
		background-color: hotpink;
	}	
	#social {
		display: inline-block;
		background-color: hotpink;
	}
	#top-nav-wrap {
		margin-left: 15px;
	}
	#bot-nav-div-list {
		width: calc(100% - 30px);
		padding: 0 15px;
		position: relative;
		clear: both;
	}
	
	#bot-nav-div-list #bot-nav-left {
		/* background-color: deepskyblue; */
		margin: 0; /* remove -4px margin left */
	}
	#bot-nav-div-list #bot-nav-left li {
		background-color: deeppink;
		display: inline-block;
		width: 100%;
		margin: 0; /* remove -4px margin left */
	}
	#bot-nav-div-list #bot-nav-left li a {
		background-color: green;
	}
	#bot-nav-div-list #bot-nav-left li a::after {
		display: none;
	}

	#bot-nav-left li:after {
		display: none;
	}


	.qwerty {
		border-top: 1px solid rgba(255, 255, 255, 0.12);
		padding-top: 15px;
		display: none;
	}
	.qwerty.open {
		display: block;
	}
	.qwerty-right {
		clear: both;
		border-top: 1px solid rgba(255, 255, 255, 0.12);
		padding-top: 15px;
		display: none;
	}
	.qwerty-right.open {
		display: block;
		clear: both;
	}
}